<!DOCTYPE html>
<html>
  <head>
  <style>
  #container{
    width:1000px;
  }
  
  #header{
    background-color:#FFFF00;
    margin-bottom: 0;
    front-size: 40px;
    height:200px;
    width:600px;
    color: blue;
  }
  </style>
  </head>
  <body>
    <div id = "container">
      
      </div>
  </body>
  </html>
