
  body {
    color: black
    background-color #ffcc00
}
  p{
    background-color: #003366;
    color: white;
    padding:24px;
    font: large arial;
  }

h1 {
    color: blue;
    margin-left: 20px;
}
h2{
  color: green;
  margin-left: 15px;
}

